#tableId {
	margin-left: 205px;
	height: 200px;
	width: 70%;
}

tbody tr:hover {
	background-color: #d3d3d3;
}

thead, tbody, tr, td, th {
	display: block;
}

tr:after {
	content: ' ';
	display: block;
	visibility: hidden;
	clear: both;
}

thead th {
	height: 30px;
	text-align: center;
}

tbody {
	height: 210px;
	overflow-y: auto;
	text-align: center;
}

tbody td, thead th {
	width: 25%;
	float: left;
}

#toolbarbuttons {
	margin-left: 220px;
	width: 70%;
}

#prikazRobe {
	margin-left: 300px;
	width: 30%;
	float: left;
}


#searching {
	width:30%;
	margin-left: 220px;
}
#searchRoba {
  width: 50px;
  box-sizing: border-box;
  border: 4px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 40px;
  margin-top:5px;
	
}

#searchButton {
  border: 4px solid #ccc;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-color: white;
  margin-bottom:2.5px;
	
}


