

nav {
	height:7%;
	width:100%;
    padding:0;
    background-color: #d3d3d3;
    margin: auto;
    
	}
/* nav {
	height:5%;
	width:100%;
	margin:0;
	padding:0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d3d3d3;
  width:100%;
  top:0;
  left:0;
  right:0;
  position:fixed;
  
}

li {
  float: left;
  border-right: 1px solid #000;
  
  
}

nav li a {
	color: black;
}

li:last-child{
	border-right:none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
} */